{% extends 'base.html' %}

{% block conteudo %}


<!-- Text -->
<h1>Entre em contato</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>

<hr>
<div class="form">
    <form action="">
        Seu email <br>
        <input type="digite seu email" name="email" placeholder="digite seu email"> <br><br>
        Assunto <br>
        <input type="text" name="Assunto"> <br><br>
        Descrição <br>
        <textarea name="descrição" id="" cols="20" rows=""></textarea> <br><br>
        <input type="button" value="Enviar">

</div>
<h4>Todos os direitos reservados </h4>
{% endblock %}