{% extends 'base.html' %}

{% block conteudo %}

<!-- Texto -->
<h1>Quem somos</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum.
    Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
    turpis egestas. Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus. Nam mattis,
    felis ut adipiscing.</p>
<h1>5 motivos para estudar</h1>
<ol type="1">
    <li>Material sempre atualizado</li>
    <li>Tablets em sala de aula</li>
    <li>Professoes renomados</li>
    <li>Universidade bem avaliada</li>
    <li>Ótima localização</li>
</ol>

<hr>

<h1>Objetivos</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum.
    Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
    turpis egestas. Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus. Nam mattis,
    felis ut adipiscing.</p>

<!-- Rodape -->
<h4>Todos os direitos reservados </h4>
{% endblock %}